html *{
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}

.mainIndex{
    background-image: url(./img/fondoDia.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 0;
}

.mainCities{
    padding-top: 6.5rem;
}

.linkBack{
    width: 100%;
    padding-left: 3rem;
}



.linkBack img{
    width: 2rem;
    margin-right: .5rem;
}

.linkBack a{
    text-decoration: none;
    color: black;
}

.linkBack a:hover{
    color: black !important;
    font-size: 1.1rem;
}


a:hover{
    color: white !important;
}

.buttonToUp{
    position: fixed;
    z-index: 99;
    top: 80vh;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
}

.buttonToUp img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
}

header{
    display: flex;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    max-height: 25vh;
    background-color: rgba(0, 0, 0, 0.300);
}

header .containerLogo{
    display: flex;
    align-items: center;
}

.logo{
    width: 5rem;
    margin-right: 4rem;
}

header .navegation{
    display: flex;
    align-items: center;
    justify-content: center;
}

header .navegation ul{
    display: flex;
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
    gap: 1.5rem;
}

header .navegation ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}

header .navegation ul li:hover{
    transform: scale(1.2);
}

.user{
    display: flex;
    width: 15vw;
    margin-right: 1rem;
    flex-direction: column;
    align-items: flex-end;
}

.button{
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.buttonItinerary{
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.userImg{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.arrow{
    position: absolute;
    right: 0vw;
    margin-top: .4rem;
    margin-right: 3.1rem;
    width: 20px;

    visibility: hidden;
    opacity: 0;
    transition: .7s;
}

.arrow.show{
    visibility: visible;
    opacity: 1;
}

.profile{
    display: flex;
    flex-direction: column;
    width: 10vh;
    margin-right: 1.7rem;
    height: 6rem;
    justify-content: space-evenly;
    background-color: #282828;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;

    position: absolute;
    top: 15vh;
    right: 0vw;
    opacity: 0;
    transition: .7s;
}

.profile.show{
    visibility: visible;
    opacity: 1;
}

.profile a{
    color: white;
    text-align: center;
    text-decoration:  none;
}

.profile a:hover{
    background-color: brown;
}

/* ------HERO------- */

.hero{
    width: 100%;
    height: 100vh;
    /* background-image: url(./img/fondoDia.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; */

    display: flex;
    color: white;
}

.containHero{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 0 2rem;
}

.containHero h2{
    font-size: calc(.5em + 4vw);
}

.containLetter{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 37%;
    max-height: 35vh;
    padding: 1rem 3%;
    border-radius: 14px;
    background-color: #0000006e;
}

.containLetter p{
    font-size: calc(.5rem + 1vw);
    text-align: center;
}

.containButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 37%;
    max-height: 35vh;
    padding: 1rem .5rem;
    border-radius: 14px;
    background-color: #0000006e;
}

.containButton p{
    text-align: center;
    font-size: calc(1.1em + .5vw);
}

.buttonEdifice{
    background-color: rgba(255, 255, 255, 0.425);
    border: none;
    border-radius: 10px;
    width: 8rem;
    height: 9rem;
    cursor: pointer;
    color: #fff;
    font-size: 1.9em;
    text-align: center;
    text-decoration: none;
}

.buttonEdifice img{
    width: 5rem;
    height: 6rem;
}

.buttonEdifice:hover{
    transform: scale(1.05);
}



/* --------Slider-------- */

.slider{
    width: 100%;
}

.parent {
    width: 100%;
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center;
    gap: 1rem;
}
.carousel-indicators{
    margin-bottom: 0 !important;
    bottom: -1.3rem !important;
    padding: 1rem 0 !important;
}

.div{
    width: 80%;
}
.div p{
    color: #fff;
    text-align: center;
}
.div img{
    object-fit: cover;
    border-radius: 10px;
    height: 15rem;
    border: 3px solid white;
}

.carousel-control-next-icon{
    background-image: url(./img/flechaRight.png) !important;
    width: 2.5rem !important;
    height: 3rem !important;
}

.carousel-control-prev-icon{
    background-image: url(./img/flechaLeft.png) !important;
    width: 2.5rem !important;
    height: 3rem !important;
}

.carousel-control-next, .carousel-control-prev{
    padding-bottom: 2rem !important;
    width: 5% !important;
    opacity: 1 !important;
}

.carousel-control-prev{
    left: 2rem !important;
}

.carousel-control-next{
    right: 2rem !important;
}

.carousel.slide{
    display: flex !important;
    justify-content: center !important;
}

.carousel-inner{
    width: 80% !important;
}

/* -------MAIN------- */

main{
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #33beff;
}

main .building{
    display: flex;
    align-items: center;
    gap: 3rem;
    color: #fff;
}

main .building img{
    width: 15rem;
}

/* -----FOOTER------- */

footer{
    padding: 1rem 0;
    width: 100%;
    height: 24vh;
    background-color: #3347ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: #fff;
}

footer .navFooter{
    display: flex;
}

footer .navFooter a{
    margin: 1rem;
    color: #fff;
    text-decoration: none;
    font-size: calc(1vh + 1rem);
}

.buttonNav:hover{
    transform: scale(1.1);
}

footer .social{
    display: flex;
    gap: 2rem;
}

footer .social img{
    width: 3rem;
}

footer .social img:hover{
    transform: scale(1.1);
}

/* -------cards---------- */

.containerCards{
    display: flex;
    padding: 3rem 1rem;
    width: 100%;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.cards{
    border-radius: 10px;
    background-color: #282828;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-basis: 19rem;
}

.cardUni{
    border-radius: 10px;
    background-color: #282828;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 20rem;
}

.cardUni .infoCard .namesCard{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.cards img, .cardUni img{
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: 14rem;
}

.cards .infoCard, .cardUni .infoCard{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 1rem;
}

.containerItineraries{
    display: flex;
    padding: 3rem 1rem;
    width: 100%;
    flex-direction: column;
    align-items: center;
}


.itinerary{
    display: flex;
    min-width: 20rem;
    max-width: 38rem;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #282828;
    color: #fff;
    border-radius: 16px;
    padding: 2.5rem;
    margin-bottom: 1rem;
}

.itinerary .infoItinerary{
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.itinerary .hashtags{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.itinerary .activities{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0rem;
    visibility: hidden;
}

.itinerary .activities.active{
    animation-name: expand;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes expand{
    0%{
        height: 0rem;
        visibility: hidden;
    }
    100%{
        height: 10rem;
        visibility: visible;
    }
}


.itinerary .hashtags p{
    background-color: rgba(255, 255, 255, 0.5);
    font-size: .9em;
    padding: 5px;
    border-radius: 20px;
}


.itinerary .seeMore{
    width: 100%;
    display: flex;
    align-items: center;
}

.itinerary .seeMore .itineraryFooter{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 50%;
}

.itinerary .seeMore .itineraryFooter p{
    margin: 0;
}

.itinerary .seeMore .itineraryFooter.right{
    justify-content: end;
}

.itinerary .seeMore .itineraryFooter.right img{
    width: 3rem;
    height: 3rem;
    transform: rotate(180deg);
}

.itinerary .seeMore img{
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;
}


@media (max-width: 767px){
    .containLetter, .containButton{
        width: 44%;
    }

    .div img{
        border-radius: 10px;
        height: 14rem;
    }

    main .building{
        display: flex;
        align-items: center;
        gap: 3rem;
        color: #fff;
    }
    
    main .building img{
        width: 10rem;
    }


}

@media (max-width: 690px){
    
    .div img{
        border-radius: 10px;
        height: 10rem;
    }


}

@media (max-width: 676px){

    .logo{
        width: 3.8rem;
        margin-right: 1rem;
    }
    .user{
        margin-right: 0rem;
    }
    .arrow{
        margin-top: .3rem;
        margin-right: 1.7rem;
    }
    .profile{
        top: 11vh;
        margin-right: .15rem;
    }
    .userImg{
        width: 45px;
        height: 45px;
    }


    .containHero{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 5rem;
        gap: 2rem;
    }

    .containLetter, .containButton{
        width: 100%;
    }

    .containHero h2{
        font-size: calc(.5em + 10vw);
    }

    .containLetter p{
        font-size: calc(.5rem + 3vw);
    }

    .div{
        width: 100%;
    }
    
    .div img{
        border-radius: 10px;
        height: 7rem;
    }

    .carousel-control-next, .carousel-control-prev{
        width: 10% !important;
        opacity: 1;
    }

    .carousel-item{
        margin-bottom: 5rem;
    }
    
    .carousel-inner{
        width: 100% !important;
    }

    .carousel-control-next, .carousel-control-prev{
        display: none !important;
    }


    main .building{
        display: flex;
        align-items: center;
        gap: 3rem;
        color: #fff;
    }
    
    main .building img{
        width: 7rem;
    }



    .itinerary{
        padding: 1rem;
    }
    .itinerary .infoItinerary h2{
        font-size: 1.2em;
    }
    .itinerary .hashtags{
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }
    .itinerary .seeMore img{
        width: 3rem;
        height: 3rem;
    }
    .itinerary .seeMore .itineraryFooter.right img{
        width: 2rem;
        height: 2rem;
    }
    .itinerary .seeMore .itineraryFooter{
        gap: .2rem;
    }


}


