html *{
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}

body{
    background-image: url(./img/fondoDia.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a:hover{
    color: white !important;
}

.buttonToUp{
    position: fixed;
    z-index: 99;
    top: 80vh;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
}

.buttonToUp img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
}

header{
    display: flex;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    max-height: 25vh;
    background-color: rgba(0, 0, 0, 0.300);
}

header .containerLogo{
    display: flex;
    align-items: center;
}

.logo{
    width: 5rem;
    margin-right: 4rem;
}

header .navegation{
    display: flex;
    align-items: center;
    justify-content: center;
}

header .navegation ul{
    display: flex;
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
    gap: 1.5rem;
}

header .navegation ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}

header .navegation ul li:hover{
    transform: scale(1.2);
}

.user{
    display: flex;
    width: 15vw;
    margin-right: 1rem;
    flex-direction: column;
    align-items: flex-end;
}

.button{
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.userImg{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.arrow{
    position: absolute;
    right: 0vw;
    margin-top: .4rem;
    margin-right: 3.1rem;
    width: 20px;

    visibility: hidden;
    opacity: 0;
    transition: .7s;
}

.arrow.show{
    visibility: visible;
    opacity: 1;
}

.profile{
    display: flex;
    flex-direction: column;
    width: 10vh;
    margin-right: 1.7rem;
    height: 6rem;
    justify-content: space-evenly;
    background-color: #282828;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;

    position: absolute;
    top: 15vh;
    right: 0vw;
    opacity: 0;
    transition: .7s;
}

.profile.show{
    visibility: visible;
    opacity: 1;
}

.profile a{
    color: white;
    text-align: center;
    text-decoration:  none;
}

.profile a:hover{
    background-color: brown;
}

/* ------HERO------- */

.hero{
    width: 100%;
    height: 100vh;
    /* background-image: url(./img/fondoDia.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; */

    display: flex;
    color: white;
}

.containHero{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0 2rem;
    padding-top: 30vh;
}

.containHero h2{
    font-size: calc(.5em + 4vw);
}

.containLetter{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 37%;
    max-height: 35vh;
    padding: 1rem 3%;
    border-radius: 14px;
    background-color: #0000006e;
}

.containLetter p{
    font-size: calc(.5rem + 1vw);
    text-align: center;
}

.containButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 37%;
    max-height: 35vh;
    padding: 1rem .5rem;
    border-radius: 14px;
    background-color: #0000006e;
}

.containButton p{
    text-align: center;
    font-size: calc(1.1em + .5vw);
}

.buttonEdifice{
    background-color: rgba(255, 255, 255, 0.425);
    border: none;
    border-radius: 10px;
    width: 8rem;
    height: 9rem;
    cursor: pointer;
    color: #fff;
    font-size: 1.9em;
    text-align: center;
    text-decoration: none;
}

.buttonEdifice img{
    width: 5rem;
    height: 6rem;
}

.buttonEdifice:hover{
    transform: scale(1.05);
}



/* --------Slider-------- */

.parent {
    width: 100%;
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center;
    gap: 1rem;
}
.carousel-indicators{
    margin-bottom: 0 !important;
    bottom: -1.3rem !important;
    padding: 1rem 0 !important;
}

.div{
    width: 90%;
}
.div p{
    color: #fff;
    text-align: center;
}
.div img{
    object-fit: cover;
    border-radius: 10px;
    height: 15rem;
    border: 3px solid white;
}

.carousel-control-next-icon{
    background-image: url(./img/flechaRight.png) !important;
    width: 2.5rem !important;
    height: 3rem !important;
}

.carousel-control-prev-icon{
    background-image: url(./img/flechaLeft.png) !important;
    width: 2.5rem !important;
    height: 3rem !important;
}

.carousel-control-next, .carousel-control-prev{
    padding-bottom: 2rem !important;
    width: 5% !important;
    opacity: 1 !important;
}

.carousel-control-prev{
    left: 2rem !important;
}

.carousel-control-next{
    right: 2rem !important;
}

.carousel.slide{
    display: flex !important;
    justify-content: center !important;
}

.carousel-inner{
    width: 80% !important;
}

/* -------MAIN------- */

main{
    width: 100%;
    padding: 4rem;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #33beff;
}

main .building{
    display: flex;
    align-items: center;
    gap: 3rem;
    color: #fff;
}

main .building img{
    width: 15rem;
}

/* -----FOOTER------- */

footer{
    padding: 1rem 0;
    width: 100%;
    height: 20vh;
    background-color: #3347ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: #fff;
}

footer .navFooter{
    display: none !important;
}

footer .social{
    display: flex;
    gap: 2rem;
}

footer .social img{
    width: 3rem;
}

footer .social img:hover{
    transform: scale(1.1);
}

@media (max-width: 767px){
    .containLetter, .containButton{
        width: 44%;
    }

    .div img{
        border-radius: 10px;
        height: 14rem;
    }

    main .building{
        display: flex;
        align-items: center;
        gap: 3rem;
        color: #fff;
    }
    
    main .building img{
        width: 10rem;
    }


}

@media (max-width: 690px){
    
    .div img{
        border-radius: 10px;
        height: 10rem;
    }


}

@media (max-width: 676px){

    .logo{
        width: 3.8rem;
        margin-right: 1rem;
    }
    .user{
        margin-right: 0rem;
    }
    .arrow{
        margin-top: .3rem;
        margin-right: 1.7rem;
    }
    .profile{
        top: 11vh;
        margin-right: .15rem;
    }
    .userImg{
        width: 45px;
        height: 45px;
    }


    .containHero{
        padding-top: 20vh;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 2rem;
    }

    .containLetter, .containButton{
        width: 100%;
    }

    .containHero h2{
        font-size: calc(.5em + 10vw);
    }

    .containLetter p{
        font-size: calc(.5rem + 3vw);
    }

    .div{
        width: 100%;
    }
    
    .div img{
        border-radius: 10px;
        height: 7rem;
    }

    .carousel-control-next, .carousel-control-prev{
        width: 10% !important;
        opacity: 1;
    }
    
    .carousel-inner{
        width: 100% !important;
    }

    .carousel-control-next, .carousel-control-prev{
        display: none !important;
    }


    main .building{
        display: flex;
        align-items: center;
        gap: 3rem;
        color: #fff;
    }
    
    main .building img{
        width: 7rem;
    }

}


